<div class="row">
    <div class="col-md-4">
        <h1 class="text-center">LOGIN</h1>
        <form class="text-center">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
          </form>
          <div class="text-center">
              <small class="text-center">New to Book Store? <a [routerLink]="'/signup'">Sign Up</a></small>
          </div>
    </div>
</div>