.ImgCol {
  height: 350px;
  border:1px solid green;
}

.secCol {
  border:1px solid blue;
  /* height: 500px; */
  font-family: Arial, Helvetica, sans-serif;
}

.prdprice {
  /* margin-left:20px; */
}

.desc {
  border:1px solid yellow;
  height:130px;
}

.wholeCol {
  border:1px solid red;
  height:400px;
}

.btn {
  width:250px;
  height:45px;
}

#quant {
  border-radius: 5px;
}

#addButton{
  background-color: #6C63FF;
  border:none;
}