<a
  [routerLink]="[prod.productId]"
  class=""
  style="text-decoration: none; color:black; cursor: pointer; "
>
  <div class="col-sm d-flex pt-3">
    <div class="card flex-fill" style="width: 200px;">
      <img 
        class="flex-fill Card-image" 
        [src] = "prod.imageUrl" 
        alt="Card-image cap"
        style="height: 200px; padding-right: 0px; border-radius: 8px 8px 0px 0px; border: none;"
      >
      <div class="card-body">
        <h5 class="card-title">{{prod.productName}}</h5>
        <p class="card-text">Price : {{prod.price}}</p>
      </div>
    </div>
  </div>
</a>